*,
*::before,
*::after {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgba(253, 83, 148, 0.089);
  }

  h1 {
    color: #007bff;
    text-align: center;
    padding-top: 30px;
  }
  
  .myContainer {
    display: inline-block;
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .accordion {
    padding-top: 13%;
    width: 80%;
  }
  
 