*,
*::before,
*::after {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgba(253, 83, 148, 0.089);
  }
  
  .myContainer {
    display: inline-block;
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .accordion {
    padding-top: 13%;
    width: 80%;
  }
  
  .image{
    border: 1px solid rgb(53, 52, 52);
    border-radius: 5px;
  }
